	<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Aqlama | Home Page</title>

    <!-- font icons -->
    <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css">

    <!-- owl carousel -->
    <link rel="stylesheet" href="assets/vendors/owl-carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel/css/owl.theme.default.css">

    <link rel="stylesheet" href="assets/css/aqlama.css">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <nav id="scrollspy" class="navbar navbar-light bg-light navbar-expand-lg fixed-top" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="assets/imgs/aqlama-ai-new-logo.png" alt="" class="brand-img"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">الصفحة الرئيسية</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">من نحن</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">خدماتنا</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#news">الأخبار والفعاليات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#datasets">المجموعات البيانية</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#work">تعاون معنا</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">اتصل بنا</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#home">ENGLISH</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="">ENGLISH</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header id="home" class="header">
            <div class="overlay"></div>
            <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">  
                <div class="container">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="carousel-caption d-none d-md-block text-right">
                                <h1 class="carousel-title text-right">البيانات هي الوقود<br> لتطوير الذكاء الاصطناعي الخاص بك</h1>
                                <button class="btn btn-primary btn-rounded">للمزيد</button>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>
        </header>
        <section class="section" id="about" dir="rtl">
            <div class="container">

        <div class="row align-items-center ml-auto">
            <div class="col-md-4">
                <h3 class="section-title text-right">من نحن</h3>
                <p class="text-right">نحن شركة "بيانات كخدمة" (DaaS) نجمع ونقوم بتحقق صحة مجموعات البيانات الصوتية للذكاء الاصطناعي والتعلم الآلي، مركزين على بناء المساعدين الافتراضيين الخاصة بالصناعة من خلال تعزيز تقنية اللغة واللهجة والصوت. تأسست الشركة في عام 2019 من قبل الدكتور فائق عويس.</p>
            </div>
            <div class="col-sm-6 col-md-4 mr-auto">
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="ti-calendar"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary text-right">أكثر من 10 ملايين</h4>
                        <p class="text-right">قطعة صوتية تم جمعها</p>
                    </div>
                </div>
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="ti-star"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary text-right">أكثر من 18 ألفًا</h4>
                        <p class="text-right">مستقلون على مستوى العالم</p>
                    </div>
                </div>
                
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="ti-face-smile"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary text-right">أكثر من 10 آلاف</h4>
                        <p class="text-right">ساعات صوتية وفيديو محولة إلى نص</p>
                    </div>
                </div>
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="ti-user"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary text-right">أكثر من 55 ألفًا</h4>
                        <p class="text-right">المشاركون المصلون</p>
                    </div>
                </div>
            </div>
         </div>
    </div>
</section>

	<section class="section" id="founder">

    <div class="container mb-3">
        <h3 class="section-title mb-5 text-right" dir="rtl">ملف المؤسس</h3>

        <div class="blog-wrapper row-reverse">
        <div class="img-wrapper col-md-4">
                <img src="assets/imgs/fayeqOweis.jpeg" class="img-fluid" alt="Dr.Fayeq Oweis">
            </div>
            <div class="txt-wrapper col-md-8">
                <h4 class="blog-title text-right" dir="rtl">الدكتور فائق عويس</h4>
                <p class="text-right" dir="rtl">المدير اللغوي السابق في جوجل وحاصل على جائزة محمد بن راشد للغة العربية. فائق عويس يعمل في مجال اللغة منذ أكثر من 20 عامًا وعمل كمدرس ومترجم ومراجع ومحقق ضمان الجودة ومدير لغات. كان في جوجل لأكثر من 10 سنوات وكان مسؤولا عن إطلاق معظم منتجات وخدمات جوجل باللغة العربية وغيرها من اللغات، وأدار فرقًا كبيرة من المترجمين وخبراء اللغات الذين يغطون 45 لغة.</p>
            </div>
            
        </div>
    </div>
</section>

	<section class="section" id="services">
        <div class="container">
            <!-- <h6 class="xs-font mb-0">Blanditiis unde illum earum</h6> -->
            <h3 class="section-title mb-4">خدماتنا</h3>

            <div class="row text-center">
                <div class="col-lg-3">
                    <a href="javascript:void(0)" class="card border-0 text-dark">
                        <img class="card-img-top services-images" src="assets/imgs/translation.jpg" alt="">
                        <span class="card-body">
                            <h4 class="title mt-4">الترجمة</h4>
                            <p class="xs-font">عملية التواصل وإعادة صياغة معنى نص بلغة مصدرية إلى لغة هدفية أخرى.</p>
                        </span>
                    </a>
                </div>

                <div class="col-lg-3">
                    <a href="javascript:void(0)" class="card border-0 text-dark">
                        <img class="card-img-top services-images" src="assets/imgs/transcription.jpg" alt="">
                        <span class="card-body">
                            <h4 class="title mt-4">الترجمة</h4>
                            <p class="xs-font">عملية التواصل وإعادة صياغة معنى نص بلغة مصدرية إلى لغة هدفية أخرى.</p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="javascript:void(0)" class="card border-0 text-dark">
                        <img class="card-img-top services-images" src="assets/imgs/localization.jpg" alt="">
                        <span class="card-body">
                            <h4 class="title mt-4">الترجمة</h4>
                            <p class="xs-font">عملية التواصل وإعادة صياغة معنى نص بلغة مصدرية إلى لغة هدفية أخرى.</p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="javascript:void(0)" class="card border-0 text-dark">
                        <img class="card-img-top services-images" src="assets/imgs/rtl.jpg" alt="">
                        <span class="card-body">
                            <h4 class="title mt-4">الترجمة</h4>
                            <p class="xs-font">عملية التواصل وإعادة صياغة معنى نص بلغة مصدرية إلى لغة هدفية أخرى.</p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="javascript:void(0)" class="card border-0 text-dark">
                        <img class="card-img-top services-images" src="assets/imgs/content development.jpg" alt="">
                        <span class="card-body">
                            <h4 class="title mt-4">الترجمة</h4>
                            <p class="xs-font">عملية التواصل وإعادة صياغة معنى نص بلغة مصدرية إلى لغة هدفية أخرى.</p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="javascript:void(0)" class="card border-0 text-dark">
                        <img class="card-img-top services-images" src="assets/imgs/transcreation.jpg" alt="">
                        <span class="card-body">
                            <h4 class="title mt-4">الترجمة</h4>
                            <p class="xs-font">عملية التواصل وإعادة صياغة معنى نص بلغة مصدرية إلى لغة هدفية أخرى.</p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="javascript:void(0)" class="card border-0 text-dark">
                        <img class="card-img-top services-images" src="assets/imgs/data collection.jpg" alt="">
                        <span class="card-body">
                            <h4 class="title mt-4">الترجمة</h4>
                            <p class="xs-font">عملية التواصل وإعادة صياغة معنى نص بلغة مصدرية إلى لغة هدفية أخرى.</p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="javascript:void(0)" class="card border-0 text-dark">
                        <img class="card-img-top services-images" src="assets/imgs/app testing.jpg" alt="">
                        <span class="card-body">
                            <h4 class="title mt-4">الترجمة</h4>
                            <p class="xs-font">عملية التواصل وإعادة صياغة معنى نص بلغة مصدرية إلى لغة هدفية أخرى.</p>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>
	
    <section class="section" id="news">
        <div class="container mb-3">
            <h3 class="section-title mb-5 text-right">أخبار وأحداث</h3>
            <div class="blog-wrapper">
                <div class="img-wrapper">
                    <img src="assets/imgs/img-3.jpg">
                    <div class="date-container">
                        <h6 class="day">26</h6>
                        <h6 class="mun">أكتوبر</h6> 
                    </div>
                </div>
                <div class="txt-wrapper">
                    <h4 class="blog-title text-right">مقدمة في التعريب</h4>
                    <p class="text-right">لوريم إيبسوم دولور سيت أميت، كونسكتيتور أديبايسينغ إليت. نوستروم فيتاي دوكيموس دولور سيد نون دولوريم إن فيسيليس إيوس ألياس فولوبتاتيس، فوجيت مايوريس أسبرناتور آد ريم سايبي موليستياس كونسيكونتور. </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="datasets">
    <div class="container">
        <h3 class="section-title pb-4 text-right" dir="rtl">مجموعات بيانات أقلامة</h3>
        <p class="text-right" dir="rtl">نقدم مجموعات بيانات عالية الجودة لتدريب نماذج الذكاء الاصطناعي الحديثة، الروبوتات الدردشية، المساعدين الافتراضيين ومعدات تحويل الكلام إلى نص، بالإضافة إلى ذلك، فإننا نستطيع جمع البيانات بشكل دقيق وسريع بلغات ولهجات مختلفة أو لصناعات محددة باستخدام فريقنا المحترف والمتميز. <a href="#contact" dir="rtl">اتصل بنا</a> لمزيد من المعلومات.</p>
        <div class="blog-wrapper">
            <div class="img-wrapper">
                <img src="assets/imgs/speech-datasets.jpg">
            </div>
            <div class="txt-wrapper">
                <h4 class="blog-title text-right" dir="rtl">مجموعات بيانات الكلام</h4>
                <p class="text-right" dir="rtl">توفر مجموعات بيانات الكلام الخاصة بنا مجموعة متنوعة من التسجيلات الصوتية عالية الجودة للمتحدثين بالعديد من اللغات واللهجات والصناعات المختلفة.</p>
            </div>
        </div>
        <div class="blog-wrapper">
            <div class="img-wrapper">
                <img src="assets/imgs/computer-vision-dataset.jpg">
            </div>
            <div class="txt-wrapper">
                <h4 class="blog-title text-right" dir="rtl">مجموعة بيانات رؤية الحاسوب</h4>
                <p class="text-right" dir="rtl">نستطيع جمع مجموعة واسعة من الصور من آلاف المشاركين في جميع أنحاء العالم بما في ذلك صور الوجوه البشرية، الجسم البشري، الإيماءات، المركبات، والمناظر الشارعية وغيرها.</p>
            </div>
        </div>
    </div>
</section>


    <section class="section" dir="rtl" id="work">
        <div class="container">
            <h3 class="section-title pb-4 text-right">العمل معنا</h3>
        </div>
        <div class="row text-center justify-content-center">
            <div class="col">
                <a href="/form" class="card border-0 text-dark">
                    <img class="card-img-top" style="height: 30vmax;" src="assets/imgs/freelancers.jpg" alt="">
                    <span class="card-body">
                        <h4 class="title mt-4">أصحاب الأعمال الحرة</h4>
                        <p class="xs-font">إذا كنت صاحب عمل حر يمكنك التسجيل في هذا النموذج وسنتواصل معك.</p>
                    </span>
                </a>
                    </div>

        <div class="col">
            <a href="javascript:void(0)" class="card border-0 text-dark">
                
                <img class="card-img-top" style="margin: 11vmax 0px 11vmax 0px;" src="assets/imgs/aqlama-logo-new.jpeg" alt="">
                <span class="card-body">
                    <h4 class="title mt-4">منصة أقلامة</h4>
                    <p class="xs-font">بالنسبة للأعضاء السابقين، يمكنك تسجيل الدخول من خلال هذا الرابط.</p>
                </span>
                <div class="position-absolute top-0 start-50 w-100 h-50 d-flex justify-content-center align-items-center bg-danger">
			    <div class="text-center">
			      <h1>قريبًا</h1>
			      <p>نعمل على شيء رائع!</p>
			    </div>
			  </div>
            </a>
            
        </div>
    </div>
</section>

    

	<section id="contact" class="section pb-0" dir="rtl">
	
	    <div class="container">
	        <h3 class="section-title mb-5 text-right">اتصل بنا</h3>
	
	        <div class="row align-items-center justify-content-between">
	            <div class="col-md-8 col-lg-7">
	
	                <form class="contact-form" action="#" th:action="@{/contactus}" th:object="${contactUsDto}" method="post">
	                    <div class="form-row">
	                        <div class="col form-group">
	                            <input type="text" class="form-control" placeholder="الاسم" th:field="*{name}">
	                        </div>
	                        <div class="col form-group">
	                            <input type="email" class="form-control" placeholder="البريد الإلكتروني" th:field="*{email}">
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="رسالتك" th:field="*{message}"></textarea>
	                    </div>
	                    <div class="form-group">
	                        <input type="submit" class="btn btn-primary btn-block" value="إرسال الرسالة">
	                    </div>
	                </form>
	            </div>
	            <div class="col-md-4 d-none d-md-block order-1">
	                <ul class="list">
	                    <li class="list-head">
	                        <h6 class="text-right">معلومات الاتصال</h6>
	                    </li>
	                    <li class="list-body">
	                        <p class="py-2 text-right">اتصل بنا وسنعود إليك في غضون 24 ساعة.</p>
	                        <p class="py-2 text-right"><i class="ti-location-pin"></i> رام الله، فلسطين.</p>
	                        <p class="py-2 text-right"><i class="ti-email"></i>  fayeq@aqlama.com</p>
	                        <p class="py-2 text-right"><i class="ti-microphone"></i> +97022897264</p>
	
	                    </li>
	                </ul> 
	            </div>
	        </div>
	
	        <footer class="footer mt-5 border-top">
	            <div class="row align-items-center justify-content-center">
	                <div class="col-md-6 text-center text-md-right">
	                    <p class="mb-0"><a target="_blank" href="http://www.aqlama.com">أقلمة</a> &copy; <script>document.write(new Date().getFullYear())</script> جميع الحقوق محفوظة</p>
	                </div>
	                <div class="col-md-6 text-center text-md-left" dir="ltr">
	                    <div class="social-links">
	                        <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
	                        <a href="javascript:void(0)" class="link"><i class="ti-twitter-alt"></i></a>
	                        <a href="javascript:void(0)" class="link"><i class="ti-google"></i></a>
	                        <a href="javascript:void(0)" class="link"><i class="ti-pinterest-alt"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-instagram"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-rss"></i></a>
                        </div>
                    </div>
                </div> 
            </footer>
        </div>
    </section>
	
	<!-- core  -->
    <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
	<script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>
    
    <!-- Owl carousel  -->
    <script src="assets/vendors/owl-carousel/js/owl.carousel.js"></script>


    <script src="assets/js/aqlama.js"></script>

</body>
</html>
